<div class="sidebar">
    <div class="sidebar-elements-container">
        <p class="sidebar-element">Sidebar</p>
        <a class="sidebar-element" href="{% url 'card:index' %}">
            <i class="fas fa-clone"></i>
            <span class="link-text">View all cards</span>
        </a> 
        <a class="sidebar-element" href="{% url 'card:about' %}">
            <i class="fas fa-info-circle"></i>
            <span class="link-text">About the site</span>
        </a> 
    </div>
    <button class="toggle-button" data-collapsed="false"><  Collapse Sidebar</button>      
</div>
