.top_bar {
    border-bottom: 1px solid #3e4145;
    background-color: black;
}

/* Front for the `Learning language from real world` text */
.rock-3d-regular {
    font-family: "Rock 3D", system-ui;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    margin: 0;
}

/* Front for the card text */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}  

.border-shadow {
    box-shadow:0px 4px 8px rgba(0,0,0,0.15);
    border-radius: 20px; 
}

.card-background {
    background-color: #FAFAF5;
}
.new-batch-button {
    background-color: #9748FF;
    color: white;
}

/* The grade chart color */
.grade-4 { background-color: blue; }
.grade-5 { background-color: black; }
.grade-6a { background-color: purple; }
.grade-6a-plus { background-color: red; }
.grade-6b { background-color: orange; }
.grade-6b-plus { background-color: yellow;}
.grade-6c { background-color: mediumaquamarine; }
.grade-6c-plus { background-color: green; }
.grade-7a { background-color: brown; }
.grade-7a-plus { background-color: pink; }
