.top_bar {
    border-bottom: 1px solid #3e4145;
    background-color: black;
}

.rock-3d-regular {
    font-family: "Rock 3D", system-ui;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    margin: 0;
}

.game-card-shadow {
    box-shadow:0px 4px 8px rgba(0,0,0,0.15);
    border-radius: 20px; 
    background-color: #FAFAF5;
}
