.page-container {
    /* Position */
    max-width: 1100px;
    min-width: 400px;
    height:fit-content;
    background-color: #FAFAF5;
}

.page-container:hover {
    cursor: pointer;
}

.index-page-container {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

@media (max-width: 950px) {
    .on-small-hide-column-950 {
        display: none;
    }
}

@media (max-width: 850px) {
    .on-small-hide-column-850 {
        display: none;
    }
}

@media (max-width: 800px) {
    .on-small-hide-column-800 {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .table td {
        /* overflow: hidden; */
        text-overflow: ellipsis;
    }
}