.total-page-container {
}

/* Some styling inside of the container */
.index-page-container {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: #e1caf3;
    height: fit-content;
    /* width: fit-content; */
}

/* 
On small screen we change the flex direction from row to flex column 
so that the sidebar can become topbar
*/
.topbar-container {
    display: none
}

@media (max-width: 800px) {
    /* On small screen hide sidebar, display topbar */
    .sidebar{
        display: none;
    }
    .topbar-container {
        display: inline;
    }

    .total-page-container {
        flex-direction: column;
    }
    .index-page-container {
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
    }
}