.page-container {
    max-width: 1200px;
    min-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 .page-container {
    margin-left: 260px;
    padding: 20px;
    padding-left: 10px;
    transition: margin-left 0.5s;
}    
.page-container.collapsed {
    margin-left: 140px;
}    

/* Styles for screens smaller than 768px */
@media (max-width: 767px) {
    .page-container {
        margin-left: 0;
    }

    .row {
        flex-direction: column;
    }

    .col-md-6 {
        width: 100%;
        max-width: 100%;
    }
}