.sidebar-container {
    width: 180px;
    min-width: 180px;
    background-color: #9748FF;
    transition: width 0.1s;
    font-family: 'Roboto', sans-serif;
    /* Flex direction controlls the direction of the elements display */
    flex-direction: column;
    text-decoration: none;
    height: 100vh;
}

.sidebar-text {
    color: rgb(246, 227, 227);
}

.sidebar-icon {
    color: rgb(246, 227, 227);
}

.sidebar.collapsed {
    width: 80px;
    overflow: hidden;
}

.sidebar.collapsed .sidebar-text {
    display: none;
}

.sidebar.collapsed .profile-username {
    display: none;
}

.sidebar-elements-container {
    padding: 10px;
    margin-top: 10px;
}

.sidebar-element {
    display: block;
    width: 100%;
    /* background-color: #87CEEB; */
    transition: background-color 0.3s;
    text-decoration: none;
    color: #666;
}
.sidebar-element.active {
    background-color: #ac77f0;
    text-decoration: none;
}
.sidebar-element:hover {
    background-color: #ac77f0;
    text-decoration: none;
}

.sidebar-link {
    padding: 10px 10px 10px 10px;
}

.profile-container {
    display:flex;
    align-items:center
}
.profile-image{
    height: 50px;
    width: 50px;
}

.toggle-button {
    color: rgb(246, 227, 227);
    margin-top: auto;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #ac77f0;
    transition: background-color 0.3s;
}

.toggle-button:hover {
    background-color: #b58bed;
}