{% load static %}
<div class="sidebar">
    <div class="sidebar-elements-container">
        <div class="sidebar-element">
            <div class="profile-container">
                {% if user.is_authenticated %}
                    <img class="img-thumbnail rounded profile-image" src="{% static 'unicorn.png' %}" alt="profile">
                    <span class="profile-username ml-2 sidebar-text d-md-inline d-none">{{ user.username }}</span>
                {% else %}
                    <img class="img-thumbnail rounded profile-image" src="{% static 'unicorn.png' %}" alt="profile">
                    <span class="profile-username ml-2 sidebar-text d-md-inline d-none">Welcome! Guest user</span>
                    <span class="sidebar-text d-md-none d-inline">Welcome</span>
                {% endif %}
            </div>
        </div>
        {% if user.is_authenticated %}
            {% url 'user:profile' as profile_url %}
            <a class="sidebar-element sidebar-link text-nowrap mt-3 {% if request.path == profile_url %}active{% endif %}" href="{% url 'user:profile' %}">
                <i class="fas fa-user mr-2 sidebar-icon"></i>
                <span class="sidebar-text d-md-inline d-none text-nowrap">View my profile</span>
                <span class="sidebar-text d-md-none d-inline">Profile</span>
            </a> 
        {% else %}
            {% url 'login' as login_url %}
            <a class="sidebar-element sidebar-link text-nowrap mt-3 {% if request.path == login_url %} active {% endif %} " href="{% url 'login' %}">
                <i class="fas fa-sign-in-alt mr-2 sidebar-icon"></i>
                <span class="sidebar-text d-md-inline d-none text-nowrap">Login/register</span>
                <span class="sidebar-text d-md-none d-inline">Login</span>
            </a>
        {% endif %}
        {% url 'index' as index_url %}
        <a class="sidebar-element sidebar-link text-nowrap {% if request.path == index_url %}active{% endif %}" href="{% url 'index' %}">
            <i class="fas fa-clone mr-2 sidebar-icon"></i>
            <span class="sidebar-text d-md-inline d-none text-nowrap">View all cards</span>
            <span class="sidebar-text d-md-none d-inline">All</span>
        </a> 
        <a class="sidebar-element sidebar-link text-nowrap {% if request.path == progress_url %} active {% endif %}" href="{% url 'progress' %}">
            <i class="fas fa-chart-line mr-2 sidebar-icon"></i>
            <span class="sidebar-text d-md-inline d-none text-nowrap">My progress</span>
            <span class="sidebar-text d-md-none d-inline">Progress</span>
        </a> 
        {% url 'about' as about_url %}
        <a class="sidebar-element sidebar-link text-nowrap {% if request.path == about_url %} active {% endif %}" href="{% url 'about' %}">
            <i class="fas fa-info-circle mr-2 sidebar-icon"></i>
            <span class="sidebar-text d-md-inline d-none text-nowrap">About the site</span>
            <span class="sidebar-text d-md-none d-inline">About</span>
        </a> 
    </div>
</div>